huggingface_hub
streamlit
chromadb>=0.6.3
sentence-transformers
pdfplumber
python-docx
python-dotenv
fpdf2
protobuf>=4.25.0,<6.0.0
opentelemetry-proto>=1.27.0
opentelemetry-exporter-otlp-proto-grpc>=1.27.0
